@model IEnumerable<User>

@{
	ViewBag.Title = "Random Images";
}

<div>
	@foreach (var user in Model)
	{
		<div class="card m-3">
			<h3>ID: @user.Id</h3>
			<h3>Name: @user.Username</h3>
		</div>
	}
</div>
