@model IEnumerable<UserPreference>

@{
	ViewBag.Title = "Random Images";
}

<div>
	@foreach (var userPreference in Model)
	{
		<div class="card m-3">
			<h3>UserID: @userPreference.userId</h3>
			<h3>ImageID: @userPreference.imageId</h3>
		</div>
	}
</div>
