@model HomeLikesDislikesViewModel

@{
	ViewBag.Title = "Random Images";
}

<div>
	<h1>UserID: @Html.DisplayFor(model => model.user.Id)</h1>
	@foreach (var image in Model.images)
	{
		<div class="card m-3">
			<h3>ImageID: @image.Id</h3>
		</div>
	}
</div>
