@model IEnumerable<UserPreference>

@{
	ViewBag.Title = "Random Images";
}

<div>
	@foreach (var userPreference in Model)
	{
		<div class="card m-3">
			<h3>UserID: @userPreference.user.Id</h3>
			<h3>Image: @userPreference.image.Name</h3>
		</div>
	}
</div>
