@model Image

@{
	ViewBag.Title = "Random Images";
}

<div class="d-flex justify-content-center">
	<div class="card m-3 p-1 bg-dark" style="max-width:60%">
		<img src="~/Images/@Html.DisplayFor(model => model.Filename)"
			 alt="@Html.DisplayFor(model => model.Name)"
			 title="@Html.DisplayFor(model => model.Name)"
			 class="card-img-top img-fluid" />
		<div style="position: absolute; bottom:0px; right:0px;">
			<div class="card m-3 bg-dark p-2">
				<div class="row">
					<div class="col-md-4">
						<img src="~/lib/open-iconic/png/thumb-up-4x.png" />
					</div>
					<div class="col-md-4">
						<img src="~/lib/open-iconic/png/ban-4x.png" />
					</div>
					<div class="col-md-4">
						<img src="~/lib/open-iconic/png/thumb-down-4x.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
