@if (HttpContextAccessor.HttpContext.Request.Cookies["Username"] != null)
{
	<form asp-controller="Account" asp-action="Logout" method="post" class="navbar-right">
		<ul class="nav navbar-nav navbar-right m-1">
			<li>
				<button type="submit" class="btn nav-link">Log Out @HttpContextAccessor.HttpContext.Request.Cookies["Username"]</button>
			</li>
		</ul>
	</form>
}
else
{
	<form asp-controller="Account" asp-action="Index" method="post" class="navbar-right">
		<ul class="nav navbar-nav navbar-right m-1">
			<li>
				<button type="submit" class="btn nav-link">Log In</button>
			</li>
		</ul>
	</form>

	<form asp-controller="Account" asp-action="Register" method="get" class="navbar-right">
		<ul class="nav navbar-nav navbar-right m-1">
			<li>
				<button type="submit" class="btn nav-link">Register</button>
			</li>
		</ul>
	</form>
}
